<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HexagonalWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <HexagonalWpf.Properties.Settings>
            <setting name="BinarizationThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GaussianParam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxAspectRatio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinPerimetherLen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CameraZoom" serializeAs="String">
                <value>0</value>
            </setting>
        </HexagonalWpf.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
